$primary_color1: rgba(0, 0, 0, 0.966);
$primary_color2: rgba(0, 0, 0, 0.753);
$text_color1: #e65650;
$text_color2: snow;
$back_color: radial-gradient(rgba(0, 0, 0, 0.829), rgba(8, 8, 3, 0.925));

$borderWidth: 7px;
$animationTime: 1.5s;
$border-color-default: #eee;
$border-color-fill: #e65650;
$size: 170px;
$howManySteps: 10;
